<div class="hero relative">
	<div class="absolute top-0 left-0 h-full w-full flex items-center justify-center">
		<h1 class="text-white font-bold uppercase tracking-wide">{{page.title}}</h1>
	</div>
	{{ hero_image.sizes('100vw').html()|raw }}
</div>