<div class="segment">
	<div class="segment-item">
		<span class="segment-header">
			News and Happenings
		</span>

		<img src="https://sga.tjhsst.edu/resources/segment-1.jpg">

		<p>
			Read about SGA initiatives, goals, and progress from SGA officers, as well as from other student leaders, students, and student organizations.
		</p>
	</div>
	<div class="segment-item">
		<span class="segment-header">
			Who We Are
		</span>

		<img src="https://sga.tjhsst.edu/resources/segment-2.jpg">

		<p>
			Learn about your representatives, and how they're working to advance the common agenda that SGA has set to improve your experience at TJ.
		</p>
	</div>
	<div class="segment-item">
		<span class="segment-header">
			Get Involved
		</span>
		
		<img src="https://sga.tjhsst.edu/resources/segment-3.jpg">

		<p>
			Any questions or concerns? Have an idea for how SGA could be doing more to advocate for students? Want to get involved? Contact Us!
		</p>
	</div>
</div>