{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="markdown">
		<h1>{{ page.title }}</h1>
		{{ page.content }}
	</div>
	<a href="/news" class="text-lg font-bold text-blue-500">Go back</a>
{% endblock %}
