{% extends 'partials/base.html.twig' %}

{% block content %}
	<section class="container mx-auto md:w-2/3 markdown text-lg leading-7">
		{{ page.content }}
	</section>
	{% if page.header.header_image is defined %}
		{% set hero_image = page.media[page.header.header_image] %}
		{% include 'partials/hero.html.twig' with {"hero_image": hero_image} %}
	{% endif %}
	{# All templates support modules by default #}
	<section class="container mx-auto px-8 my-8">
		{% for module in page.collection() %}
			{{ module.content|raw }}
		{% endfor %}
	</section>
{% endblock %}
