{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/hero.html.twig' %}
	<section class="container mx-auto px-8 my-8">
		{% include
			'partials/news.html.twig'
			with {"pages": page.collection()}
		%}
	</section>
{% endblock %}
