<section class="text-center bg-dark text-light">
	<div class="container mx-auto px-8 py-8">
		{% if page.header.text %}
			<p class="text-3xl leading-relaxed font-serif">
				{{ page.header.text }}
			</p>
		{% endif %}
		{% if page.header.credit %}
			<p class="text-xl italic mt-4">
				— {{ page.header.credit }}
			</p>
		{% endif %}
	</div>
</section>
